
.ManagedLibs/.keep
.ManagedLibs/0Harmony.dll
.ManagedLibs/Assembly-CSharp-firstpass.dll
.ManagedLibs/Assembly-CSharp.dll
.ManagedLibs/Aura2_Core.dll
.ManagedLibs/AVProVideo.Extensions.Timeline.dll
.ManagedLibs/AVProVideo.Extensions.UnityUI.dll
.ManagedLibs/AVProVideo.Extensions.VisualEffectGraph.dll
.ManagedLibs/AVProVideo.Runtime.dll
.ManagedLibs/AwesomeTechnologies.TouchReactSystemPro.Runtime.dll
.ManagedLibs/AwesomeTechnologies.VegetationStudioPro.Runtime.dll
.ManagedLibs/Bhaptics.Tact.dll
.ManagedLibs/Boxophobic.TheVehetationEngine.Runtime.dll
.ManagedLibs/Boxophobic.Utils.Scripts.dll
.ManagedLibs/BTKUILib.dll
.ManagedLibs/ChatBox.dll
.ManagedLibs/Cinemachine.dll
.ManagedLibs/cohtml.Net.dll
.ManagedLibs/Cohtml.RenderingBackend.dll
.ManagedLibs/Cohtml.Runtime.dll
.ManagedLibs/com.dogu.gamium.engine.unity.runtime.dll
.ManagedLibs/com.dogu.gamium.engine.unity.runtime.protocol.dll
.ManagedLibs/Crc32.NET.dll
.ManagedLibs/DarkRift.Client.dll
.ManagedLibs/DarkRift.dll
.ManagedLibs/ECM2.dll
.ManagedLibs/ECM2.Examples.dll
.ManagedLibs/ECM2.Walkthrough.dll
.ManagedLibs/endel.nativewebsocket.dll
.ManagedLibs/FMODUnity.dll
.ManagedLibs/FMODUnityResonance.dll
.ManagedLibs/ICSharpCode.SharpZipLib.dll
.ManagedLibs/JWT.dll
.ManagedLibs/LibVLCSharp.dll
.ManagedLibs/LucHeart.CoreOSC.dll
.ManagedLibs/MagicaCloth.dll
.ManagedLibs/MagicaClothV2.dll
.ManagedLibs/MelonLoader.dll
.ManagedLibs/MeshBakerCore.dll
.ManagedLibs/Meta.XR.BuildingBlocks.dll
.ManagedLibs/Microsoft.Win32.Primitives.dll
.ManagedLibs/ml_prm.dll
.ManagedLibs/Mono.Cecil.dll
.ManagedLibs/Mono.Security.dll
.ManagedLibs/MPUIKit.dll
.ManagedLibs/mscorlib.dll
.ManagedLibs/MTJobSystem.dll
.ManagedLibs/NETOpus.dll
.ManagedLibs/netstandard.dll
.ManagedLibs/netstandard.xml
.ManagedLibs/NewBlood.EngineInternals.dll
.ManagedLibs/Newtonsoft.Json.dll
.ManagedLibs/NicoKuroKusagi.dll
.ManagedLibs/Oculus.LipSync.dll
.ManagedLibs/Oculus.Platform.dll
.ManagedLibs/Oculus.VR.dll
.ManagedLibs/Photon3Unity3D.dll
.ManagedLibs/PhotonRealtime.dll
.ManagedLibs/PhotonVoice.API.dll
.ManagedLibs/PhotonVoice.dll
.ManagedLibs/PICO.Platform.dll
.ManagedLibs/PortableMirrorMod.dll
.ManagedLibs/PWCommon3DLL.dll
.ManagedLibs/SALSA-LipSync.dll
.ManagedLibs/SALSA.dll
.ManagedLibs/ShapesRuntime.dll
.ManagedLibs/SteamAudioUnity.dll
.ManagedLibs/SteamVR.dll
.ManagedLibs/SteamVR_Actions.dll
.ManagedLibs/System.AppContext.dll
.ManagedLibs/System.Buffers.dll
.ManagedLibs/System.Collections.Concurrent.dll
.ManagedLibs/System.Collections.dll
.ManagedLibs/System.Collections.NonGeneric.dll
.ManagedLibs/System.Collections.Specialized.dll
.ManagedLibs/System.ComponentModel.Composition.dll
.ManagedLibs/System.ComponentModel.dll
.ManagedLibs/System.ComponentModel.EventBasedAsync.dll
.ManagedLibs/System.ComponentModel.Primitives.dll
.ManagedLibs/System.ComponentModel.TypeConverter.dll
.ManagedLibs/System.Configuration.dll
.ManagedLibs/System.Console.dll
.ManagedLibs/System.Core.dll
.ManagedLibs/System.Data.Common.dll
.ManagedLibs/System.Data.DataSetExtensions.dll
.ManagedLibs/System.Data.dll
.ManagedLibs/System.Diagnostics.Contracts.dll
.ManagedLibs/System.Diagnostics.Debug.dll
.ManagedLibs/System.Diagnostics.FileVersionInfo.dll
.ManagedLibs/System.Diagnostics.Process.dll
.ManagedLibs/System.Diagnostics.StackTrace.dll
.ManagedLibs/System.Diagnostics.TextWriterTraceListener.dll
.ManagedLibs/System.Diagnostics.Tools.dll
.ManagedLibs/System.Diagnostics.TraceSource.dll
.ManagedLibs/System.Diagnostics.Tracing.dll
.ManagedLibs/System.dll
.ManagedLibs/System.Drawing.dll
.ManagedLibs/System.Drawing.Primitives.dll
.ManagedLibs/System.Dynamic.Runtime.dll
.ManagedLibs/System.EnterpriseServices.dll
.ManagedLibs/System.Globalization.Calendars.dll
.ManagedLibs/System.Globalization.dll
.ManagedLibs/System.Globalization.Extensions.dll
.ManagedLibs/System.IO.Compression.dll
.ManagedLibs/System.IO.Compression.FileSystem.dll
.ManagedLibs/System.IO.Compression.ZipFile.dll
.ManagedLibs/System.IO.dll
.ManagedLibs/System.IO.FileSystem.dll
.ManagedLibs/System.IO.FileSystem.DriveInfo.dll
.ManagedLibs/System.IO.FileSystem.Primitives.dll
.ManagedLibs/System.IO.FileSystem.Watcher.dll
.ManagedLibs/System.IO.IsolatedStorage.dll
.ManagedLibs/System.IO.MemoryMappedFiles.dll
.ManagedLibs/System.IO.Pipes.dll
.ManagedLibs/System.IO.UnmanagedMemoryStream.dll
.ManagedLibs/System.Linq.dll
.ManagedLibs/System.Linq.Expressions.dll
.ManagedLibs/System.Linq.Parallel.dll
.ManagedLibs/System.Linq.Queryable.dll
.ManagedLibs/System.Memory.dll
.ManagedLibs/System.Net.dll
.ManagedLibs/System.Net.Http.dll
.ManagedLibs/System.Net.NameResolution.dll
.ManagedLibs/System.Net.NetworkInformation.dll
.ManagedLibs/System.Net.Ping.dll
.ManagedLibs/System.Net.Primitives.dll
.ManagedLibs/System.Net.Requests.dll
.ManagedLibs/System.Net.Security.dll
.ManagedLibs/System.Net.Sockets.dll
.ManagedLibs/System.Net.WebHeaderCollection.dll
.ManagedLibs/System.Net.WebSockets.Client.dll
.ManagedLibs/System.Net.WebSockets.dll
.ManagedLibs/System.Numerics.dll
.ManagedLibs/System.Numerics.Vectors.dll
.ManagedLibs/System.ObjectModel.dll
.ManagedLibs/System.Reflection.DispatchProxy.dll
.ManagedLibs/System.Reflection.dll
.ManagedLibs/System.Reflection.Emit.dll
.ManagedLibs/System.Reflection.Emit.ILGeneration.dll
.ManagedLibs/System.Reflection.Emit.Lightweight.dll
.ManagedLibs/System.Reflection.Extensions.dll
.ManagedLibs/System.Reflection.Primitives.dll
.ManagedLibs/System.Resources.Reader.dll
.ManagedLibs/System.Resources.ResourceManager.dll
.ManagedLibs/System.Resources.Writer.dll
.ManagedLibs/System.Runtime.CompilerServices.Unsafe.dll
.ManagedLibs/System.Runtime.CompilerServices.VisualC.dll
.ManagedLibs/System.Runtime.dll
.ManagedLibs/System.Runtime.Extensions.dll
.ManagedLibs/System.Runtime.Handles.dll
.ManagedLibs/System.Runtime.InteropServices.dll
.ManagedLibs/System.Runtime.InteropServices.RuntimeInformation.dll
.ManagedLibs/System.Runtime.Numerics.dll
.ManagedLibs/System.Runtime.Serialization.dll
.ManagedLibs/System.Runtime.Serialization.Formatters.dll
.ManagedLibs/System.Runtime.Serialization.Json.dll
.ManagedLibs/System.Runtime.Serialization.Primitives.dll
.ManagedLibs/System.Runtime.Serialization.Xml.dll
.ManagedLibs/System.Security.Claims.dll
.ManagedLibs/System.Security.Cryptography.Algorithms.dll
.ManagedLibs/System.Security.Cryptography.Csp.dll
.ManagedLibs/System.Security.Cryptography.Encoding.dll
.ManagedLibs/System.Security.Cryptography.Primitives.dll
.ManagedLibs/System.Security.Cryptography.X509Certificates.dll
.ManagedLibs/System.Security.dll
.ManagedLibs/System.Security.Principal.dll
.ManagedLibs/System.Security.SecureString.dll
.ManagedLibs/System.ServiceModel.Internals.dll
.ManagedLibs/System.ServiceModel.Web.dll
.ManagedLibs/System.Text.Encoding.dll
.ManagedLibs/System.Text.Encoding.Extensions.dll
.ManagedLibs/System.Text.RegularExpressions.dll
.ManagedLibs/System.Threading.dll
.ManagedLibs/System.Threading.Overlapped.dll
.ManagedLibs/System.Threading.Tasks.dll
.ManagedLibs/System.Threading.Tasks.Extensions.dll
.ManagedLibs/System.Threading.Tasks.Parallel.dll
.ManagedLibs/System.Threading.Thread.dll
.ManagedLibs/System.Threading.ThreadPool.dll
.ManagedLibs/System.Threading.Timer.dll
.ManagedLibs/System.Transactions.dll
.ManagedLibs/System.ValueTuple.dll
.ManagedLibs/System.Web.dll
.ManagedLibs/System.Windows.dll
.ManagedLibs/System.Xml.dll
.ManagedLibs/System.Xml.Linq.dll
.ManagedLibs/System.Xml.ReaderWriter.dll
.ManagedLibs/System.Xml.Serialization.dll
.ManagedLibs/System.Xml.XDocument.dll
.ManagedLibs/System.Xml.XmlDocument.dll
.ManagedLibs/System.Xml.XmlSerializer.dll
.ManagedLibs/System.Xml.XPath.dll
.ManagedLibs/System.Xml.XPath.XDocument.dll
.ManagedLibs/TheClapper.dll
.ManagedLibs/Tobii.GameIntegration.Net.dll
.ManagedLibs/TobiiXRCore.dll
.ManagedLibs/TobiiXRDevTools.dll
.ManagedLibs/TobiiXRG2OM.dll
.ManagedLibs/TobiiXRSDK.dll
.ManagedLibs/UniTask.Addressables.dll
.ManagedLibs/UniTask.dll
.ManagedLibs/UniTask.DOTween.dll
.ManagedLibs/UniTask.Linq.dll
.ManagedLibs/UniTask.TextMeshPro.dll
.ManagedLibs/Unity.AI.Navigation.dll
.ManagedLibs/Unity.Analytics.DataPrivacy.dll
.ManagedLibs/Unity.Burst.dll
.ManagedLibs/Unity.Burst.Unsafe.dll
.ManagedLibs/Unity.Collections.dll
.ManagedLibs/Unity.Collections.LowLevel.ILSupport.dll
.ManagedLibs/Unity.Deformations.dll
.ManagedLibs/Unity.Entities.dll
.ManagedLibs/Unity.Entities.Hybrid.dll
.ManagedLibs/Unity.Entities.Hybrid.HybridComponents.dll
.ManagedLibs/Unity.InputSystem.dll
.ManagedLibs/Unity.InternalAPIEngineBridge.002.dll
.ManagedLibs/Unity.InternalAPIEngineBridge.003.dll
.ManagedLibs/Unity.InternalAPIEngineBridge.012.dll
.ManagedLibs/Unity.Jobs.dll
.ManagedLibs/Unity.Mathematics.dll
.ManagedLibs/Unity.Mathematics.Extensions.dll
.ManagedLibs/Unity.Mathematics.Extensions.Hybrid.dll
.ManagedLibs/Unity.Platforms.Common.dll
.ManagedLibs/Unity.Polybrush.dll
.ManagedLibs/Unity.Postprocessing.Runtime.dll
.ManagedLibs/Unity.ProBuilder.Csg.dll
.ManagedLibs/Unity.ProBuilder.dll
.ManagedLibs/Unity.ProBuilder.KdTree.dll
.ManagedLibs/Unity.ProBuilder.Poly2Tri.dll
.ManagedLibs/Unity.ProBuilder.Stl.dll
.ManagedLibs/Unity.Profiling.Core.dll
.ManagedLibs/Unity.Properties.dll
.ManagedLibs/Unity.Properties.Reflection.dll
.ManagedLibs/Unity.Properties.UI.dll
.ManagedLibs/Unity.RenderPipelines.Core.Runtime.dll
.ManagedLibs/Unity.RenderPipelines.Core.ShaderLibrary.dll
.ManagedLibs/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.dll
.ManagedLibs/Unity.Scenes.dll
.ManagedLibs/Unity.ScriptableBuildPipeline.dll
.ManagedLibs/Unity.Serialization.dll
.ManagedLibs/Unity.Services.Analytics.dll
.ManagedLibs/Unity.Services.Authentication.dll
.ManagedLibs/Unity.Services.Core.Analytics.dll
.ManagedLibs/Unity.Services.Core.Configuration.dll
.ManagedLibs/Unity.Services.Core.Device.dll
.ManagedLibs/Unity.Services.Core.dll
.ManagedLibs/Unity.Services.Core.Environments.dll
.ManagedLibs/Unity.Services.Core.Environments.Internal.dll
.ManagedLibs/Unity.Services.Core.Internal.dll
.ManagedLibs/Unity.Services.Core.Networking.dll
.ManagedLibs/Unity.Services.Core.Registration.dll
.ManagedLibs/Unity.Services.Core.Scheduler.dll
.ManagedLibs/Unity.Services.Core.Telemetry.dll
.ManagedLibs/Unity.Services.Core.Threading.dll
.ManagedLibs/Unity.Services.Vivox.dll
.ManagedLibs/Unity.TextMeshPro.dll
.ManagedLibs/Unity.Timeline.dll
.ManagedLibs/Unity.Transforms.dll
.ManagedLibs/Unity.Transforms.Hybrid.dll
.ManagedLibs/Unity.VectorGraphics.dll
.ManagedLibs/Unity.XR.CoreUtils.dll
.ManagedLibs/Unity.XR.Hands.dll
.ManagedLibs/Unity.XR.Hands.Samples.VisualizerSample.dll
.ManagedLibs/Unity.XR.Management.dll
.ManagedLibs/Unity.XR.Oculus.dll
.ManagedLibs/Unity.XR.OpenVR.dll
.ManagedLibs/Unity.XR.OpenXR.dll
.ManagedLibs/Unity.XR.OpenXR.Features.ConformanceAutomation.dll
.ManagedLibs/Unity.XR.OpenXR.Features.MetaQuestSupport.dll
.ManagedLibs/Unity.XR.OpenXR.Features.MockRuntime.dll
.ManagedLibs/Unity.XR.OpenXR.Features.OculusQuestSupport.dll
.ManagedLibs/Unity.XR.OpenXR.Features.PICOSupport.dll
.ManagedLibs/Unity.XR.OpenXR.Features.RuntimeDebugger.dll
.ManagedLibs/Unity.XR.OpenXRPico.dll
.ManagedLibs/UnityEngine.AccessibilityModule.dll
.ManagedLibs/UnityEngine.AIModule.dll
.ManagedLibs/UnityEngine.AndroidJNIModule.dll
.ManagedLibs/UnityEngine.AnimationModule.dll
.ManagedLibs/UnityEngine.ARModule.dll
.ManagedLibs/UnityEngine.AssetBundleModule.dll
.ManagedLibs/UnityEngine.AudioModule.dll
.ManagedLibs/UnityEngine.ClothModule.dll
.ManagedLibs/UnityEngine.ClusterInputModule.dll
.ManagedLibs/UnityEngine.ClusterRendererModule.dll
.ManagedLibs/UnityEngine.CoreModule.dll
.ManagedLibs/UnityEngine.CrashReportingModule.dll
.ManagedLibs/UnityEngine.DirectorModule.dll
.ManagedLibs/UnityEngine.dll
.ManagedLibs/UnityEngine.DSPGraphModule.dll
.ManagedLibs/UnityEngine.GameCenterModule.dll
.ManagedLibs/UnityEngine.GIModule.dll
.ManagedLibs/UnityEngine.GridModule.dll
.ManagedLibs/UnityEngine.HotReloadModule.dll
.ManagedLibs/UnityEngine.ImageConversionModule.dll
.ManagedLibs/UnityEngine.IMGUIModule.dll
.ManagedLibs/UnityEngine.InputLegacyModule.dll
.ManagedLibs/UnityEngine.InputModule.dll
.ManagedLibs/UnityEngine.JSONSerializeModule.dll
.ManagedLibs/UnityEngine.LocalizationModule.dll
.ManagedLibs/UnityEngine.NVIDIAModule.dll
.ManagedLibs/UnityEngine.ParticleSystemModule.dll
.ManagedLibs/UnityEngine.PerformanceReportingModule.dll
.ManagedLibs/UnityEngine.Physics2DModule.dll
.ManagedLibs/UnityEngine.PhysicsModule.dll
.ManagedLibs/UnityEngine.ProfilerModule.dll
.ManagedLibs/UnityEngine.RuntimeInitializeOnLoadManagerInitializerModule.dll
.ManagedLibs/UnityEngine.ScreenCaptureModule.dll
.ManagedLibs/UnityEngine.SharedInternalsModule.dll
.ManagedLibs/UnityEngine.SpatialTracking.dll
.ManagedLibs/UnityEngine.SpriteMaskModule.dll
.ManagedLibs/UnityEngine.SpriteShapeModule.dll
.ManagedLibs/UnityEngine.StreamingModule.dll
.ManagedLibs/UnityEngine.SubstanceModule.dll
.ManagedLibs/UnityEngine.SubsystemsModule.dll
.ManagedLibs/UnityEngine.TerrainModule.dll
.ManagedLibs/UnityEngine.TerrainPhysicsModule.dll
.ManagedLibs/UnityEngine.TextCoreFontEngineModule.dll
.ManagedLibs/UnityEngine.TextCoreTextEngineModule.dll
.ManagedLibs/UnityEngine.TextRenderingModule.dll
.ManagedLibs/UnityEngine.TilemapModule.dll
.ManagedLibs/UnityEngine.TLSModule.dll
.ManagedLibs/UnityEngine.UI.dll
.ManagedLibs/UnityEngine.UIElementsModule.dll
.ManagedLibs/UnityEngine.UIElementsNativeModule.dll
.ManagedLibs/UnityEngine.UIModule.dll
.ManagedLibs/UnityEngine.UmbraModule.dll
.ManagedLibs/UnityEngine.UNETModule.dll
.ManagedLibs/UnityEngine.UnityAnalyticsCommonModule.dll
.ManagedLibs/UnityEngine.UnityAnalyticsModule.dll
.ManagedLibs/UnityEngine.UnityConnectModule.dll
.ManagedLibs/UnityEngine.UnityCurlModule.dll
.ManagedLibs/UnityEngine.UnityTestProtocolModule.dll
.ManagedLibs/UnityEngine.UnityWebRequestAssetBundleModule.dll
.ManagedLibs/UnityEngine.UnityWebRequestAudioModule.dll
.ManagedLibs/UnityEngine.UnityWebRequestModule.dll
.ManagedLibs/UnityEngine.UnityWebRequestTextureModule.dll
.ManagedLibs/UnityEngine.UnityWebRequestWWWModule.dll
.ManagedLibs/UnityEngine.VehiclesModule.dll
.ManagedLibs/UnityEngine.VFXModule.dll
.ManagedLibs/UnityEngine.VideoModule.dll
.ManagedLibs/UnityEngine.VirtualTexturingModule.dll
.ManagedLibs/UnityEngine.VRModule.dll
.ManagedLibs/UnityEngine.WindModule.dll
.ManagedLibs/UnityEngine.XR.LegacyInputHelpers.dll
.ManagedLibs/UnityEngine.XRModule.dll
.ManagedLibs/Valve.Newtonsoft.Json.dll
.ManagedLibs/websocket-sharp.dll
SourceMovement/obj/Debug/netstandard2.1/SourceMovement.sourcelink.json
SourceMovement/obj/Debug/netstandard2.1/SourceMovement.pdb
/SourceMovement/obj
/SourceMovement/obj
/HexRetacle/obj
/.vs
/.vs
/.vs
/.vs
/.vs
/.vs
/.vs
NStrip.exe
/.ManagedLibs
/HexReticle/bin
/HexReticle/obj
/PVPMod/bin
/CinematicThirdPerson/obj
/PVPMod/obj
/PhysicSounds/bin
/PhysicSounds/obj
/SourceMovement/obj
/CinematicThirdPerson/obj
/CinematicThirdPerson/obj
*.cache
*.cache
/CinematicThirdPerson/obj
/PortableCameraEnchancements/bin
/PortableCameraEnchancements/obj
/PortableCameraEnhancements/bin
/PortableCameraEnhancements/obj
/CinematicThirdPerson/obj
/SourceMovement/obj
/SourceMovement/obj
